body {
    font-family: 'Arial', sans-serif;
    background-color: #90aead;
    color: #fbe9d0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    background: #244855;
    color: #fbe9d0;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #874f41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background: #244855;
    color: #fbe9d0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #e64833;
}

textarea {
    width: 60%;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
}

footer {
    background: #244855;
    color: #fbe9d0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
